body {
    width: 300px;
    margin: 0;
}
b {
    font-weight: bold;
    text-decoration: underline;
    background-color: yellow;
    color: black;
}
/*设置滚动条的宽度*/
::-webkit-scrollbar {
    width: 6px;
}

/*滚动槽，滚动条背后的轨道*/
::-webkit-scrollbar-track {
    background-color: white; /* 背景颜色 */
}

/*滚动条上的滑块*/
::-webkit-scrollbar-thumb {
    background-color: #888; /* 滑块颜色 */
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
